<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Blog's Title</th>
                            <th>Blog's Content</th>
                            <th>Date Created</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="blog in vm.blogs">
                            <td>{{ blog.title }}</td>
                            <td>{{ blog.content }}</td>
                            <td>{{ blog.dateCreated | date : 'medium' }}</td>
                            <td>{{ blog.status | uppercase }}</td>
                            <td>
                                <button type="button" ng-click="vm.approveBlog(blog.blogId)" class="btn btn-primary">Approve</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>