
<div class="container-fluid">
	<h2 style="text-align: center;">Blog Details <span style="text-align: right;">Created By: {{ selectedBlog.user.username }}</span></h2>
	<form method="POST" class="form-horizontal" role="form">
		<div class="form-group">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<strong>Blog Title:</strong>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<input type="text" name="title" ng-model="selectedBlog.title" class="form-control" contenteditable="false">
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<strong>Blog Content:</strong>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<textarea rows="5" cols="" name="content" ng-model="selectedBlog.content" class="form-control" contenteditable="false"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<button class="btn btn-danger" ng-disabled="loggedInUser == '' || loggedInUser.userId != selectedBlog.user.userId">Edit</button>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<input type="reset" name="reset" value="Reset" class="btn btn-warning">
			</div>
		</div>
	</form>
	
</div>